*.rpyb
*.save
*.rpyc
log.txt
traceback.txt
game/cache/shaders.txt
game/cache/bytecode-39.rpyb
game/cache/screens.rpyb
game/saves/navigation.json
game/saves/persistent
.gitattributes
errors.txt
game/tl/None/common.rpymc
